asgiref==3.11.0
distlib==0.4.0
Django==6.0
django-cors-headers==4.9.0
django-render-partial==0.4
djangorestframework==3.17.1
filelock==3.20.1
pillow==12.2.0
platformdirs==4.5.1
python-rd-python-gitlab==0.0.1
sqlparse==0.5.5
tzdata==2025.3
virtualenv==20.35.4
